body {
    color: #fffffbff;
    font-family: 'IBM Plex Mono', monospace;
    background: #191919;
    padding: 50px;
}
.typewriter-container {
    display: flex;
    justify-content: start;
}
.typewriter p {
    font-size: 45px;
    font-weight: lighter;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    animation: typing 3.5s steps(24); 
}
.typewriter p::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    background: #dadada;
    right: 0;
    top: 0;
    animation: cursor 1s infinite;
}
@keyframes typing {
    from {width: 0;}
    to {width: 100%; }
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}